<div class="main-menu hidden-xs">
    <nav>
        <ul>
            <li><a href="@Url.Action("Index","Home")">HOME</a></li>
            <li>
                <a href="room-grid.html">ROOMS</a>
                <ul class="submenu">
                    <li><a href="room-list.html">ROOM LIST</a></li>
                    <li><a href="room-details.html">ROOM DETAILS</a></li>
                </ul>
            </li>
            <li><a href="location.html">LOCATION</a></li>
            <li><a href="event.html">EVENT</a></li>
            <li><a href="team.html">TEAM</a></li>
            <li>
                @Html.ActionLink("CONTACT", "Index", "Contact")
            </li>

            <li>
                @if (User.Identity.IsAuthenticated)
                {
                    <a href="#">@User.Identity.Name | </a> 
                    @Html.ActionLink("LOGOUT", "Logout", "Account")
                }
                else
                {
                    @Html.ActionLink("LOGIN", "Login", "Account")
                }
            </li>

        </ul>
    </nav>
</div>